version: 2
updates:
  # Frontend dependencies
  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "04:00"
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
      - "frontend"
      - "automerge"
    commit-message:
      prefix: "chore"
      prefix-development: "chore"
      include: "scope"
    
  # Customer service dependencies
  - package-ecosystem: "npm"
    directory: "/services/customer"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "04:00"
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
      - "backend"
      - "automerge"
    commit-message:
      prefix: "chore"
      include: "scope"
    
  # Reservation service dependencies
  - package-ecosystem: "npm"
    directory: "/services/reservation-service"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "04:00"
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
      - "backend"
      - "automerge"
    commit-message:
      prefix: "chore"
      include: "scope"
    
  # GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "dependencies"
      - "github-actions"
    commit-message:
      prefix: "chore"
